.btn__primary {
  background-color: var(--brand100);
  color: var(--color-white);
  padding: 1rem;
  border-radius: 0.5rem;
}

.btn__primary:hover {
  background-color: var(--brand200);
}

.btn__delete {
  background-color: var(--color-grey200);
  padding: 0.25rem 0.75rem;
}

.btn__delete:hover {
  background-color: var(--color-grey400);
  color: var(--color-white);
}

input,
select {
  background-color: var(--color-grey100);
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

input:focus,
select:focus {
  outline: 3px solid var(--color-grey400);
}

input:focus {
  background-color: var(--color-white);
}

option {
  background-color: var(--color-grey100);
  color: var(--color-black);
}
